{% extends 'base.html' %}

{% block content %}
    <h1>Posts do Blog</h1>
    <ul>
        {% for post in posts %}
            <h2>{{ post.title }}</h2>
            <p>{{ post.summary }}</p>
            <a href="{% url 'post_detail' post.pk %}">Leia mais</a>
        {% empty %}
            <p>Não há posts disponíveis.</p>
        {% endfor %}
            
        <footer>
        <!-- Paginação -->
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page=1">Primeira</a>
                <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}
        
            <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
        
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Última</a>
            {% endif %}
        </div>
    </footer>
    </ul>
{% endblock %}
